<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style1.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Unica+One|Lato&display=swap" rel="stylesheet">
  <title>Log in</title>
</head>

<body>
  <!-- ************************************************************

                              LOGIN PAGE

  ****************************************************************** -->

  <section class="container">

    <h1>Photoport</h1>

    <section class="login-pic"> <i class="fas fa-camera-retro"></i></section>

<!-- <form action="/profilea" method="POST">
  <input type="text" name="username" value="" placeholder="Enter Username">
  <input type="password" name="password" value="" placeholder="Enter Password">
  <a href="/portfolio"><button type="button" name="button">Sign in</button></a>
    <a href="/signup">Don't have an account? Sign up!</a>
</form> -->


<form action="/mainpage" method="post">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="password" name="password">
    </div>

    <a href=/portfolio><button type="button">Log in</button></a>
      <a href="/signup">Don't have an account? Sign up!</a>
</form>



  </section>


  <footer>
    <p>Photo by:
      <a class="photo-cred" href="http://atranphoto.com">Alexander Tran</a></p>
  </footer>



</body>

</html>
