<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Unica+One|Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style3.css">
  <title>Main page</title>
</head>

<body>

  <!-- *******************************************************

                      MAIN PAGE

******************************************************* -->

  <header class="nav">
    <ul>
      <li> <a href="#">Upload Your Photos</a></li>
      <li> <a href="">Photo Comments</a> </li>
      <li> <a href="/portfolio">My Portfolio</a> </li>
      <li> <a href="/login">Log Out</a> </li>

    </ul>
    <a><i class="fas fa-bars"></i></a>
  </header>

  <section class="container">



    <h1> Select Photo(s) You Want To Add To Your Portfolio</h1>

    <section class="photos">

      <% for(var i=0; i<feedback.length; i++) {%>


      <a href="/portfolio"><img class="left" src="/portfolio-img/<%=user.portfolio[0]%>" alt="Portfolio Image 1"></a>

      <% } %>

    </section>

  </section>


  <div>

    <section class="comment-sec">
      <h2>Need feeback on your photos?</h2>
      <p class="advice">get advice from users below:</p>

      <ul class="messages">
        <% for(var i=0; i<feedback.length; i++) {%>
        <li class="message">
          <span><%= feedback[i].comments %></span>
          <span><%= feedback[i].author %></span>
        </li>
        <% } %>
      </ul>
    </section>

    <form action="/mainpage" method="POST">
      <input class="author" type="text" name="author">
      <input class="comments" type="text" placeholder="leave feedback here" name="comments">
      <button id="submit-comment" type="submit">Submit</button>
    </form>
  </div>





  <!-- end container -->
  <!-- section:right side -->
  <section class="chatsec clearfix">
    <h3>Connect with other photographers!</h3>

    <div class="chat">
      <a href="http://atranphoto.com"> <img class="photogs" src="images/tran.png" alt="Alexander Tran"> </a>
    </div>

    <div class="chat">
      <a href="https://www.annjpeg.com/"> <img class="photogs" src="images/aj.png" alt="Ann Jiang"> </a>
    </div>

    <div class="chat">
      <a href="https://3arlyjuly.com/"> <img class="photogs" src="images/el.png" alt="Elizabeth Nguyen"> </a>
    </div>

    <div class="chat">
      <a href="https://www.noahbility.us/"> <img class="photogs" src="images/lani.png" alt="Jelani Ameer"> </a>
    </div>

    <div class="chat">
      <a href="https://www.shotbysaad.com/"> <img class="photogs" src="images/me.png" alt="Saadia Naadira"> </a>
    </div>

  </section>


  <script type="text/javascript" src="main.js"></script>

</body>

</html>
