<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Portfolio</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Unica+One|Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style4.css">
</head>

<body>

  <!-- *******************************************************

                        PORTFOLIO PAGE

  ******************************************************* -->

  <header class="nav">
    <ul>
      <li> <a href="/login">Log Out</a> </li>
      <li> <a href="/mainpage">Back To Homepage</a> </li>
    </ul>
    <a><i class="fas fa-bars"></i></a>
  </header>

  <section>
    <h1>PORTFOLIO</h1>
  </section>

  <section class="container">

    <p>A collection of photos I have taken
    that have been critqued by other photographers</p>



    <% for(let i=0; i<user.portfolio.length; i++){%>
      <img class="left" src="/portfolio-img/<%=user.portfolio[i]%>" alt="Portfolio Image <%=i+1%>">
    <%}%>

    <!-- <section>
      <div>
        <img class="vert" src="images/kt.jpg" alt="Katytarika Bartel">
        <img class="vert " src="images/mel.jpg" alt="Ann Jiang">
        <img class="vert" src="images/bee.jpg" alt="Ann Jiang">
      </div>
    </section>

    <section>
      <div>
        <img class="hori" src="images/char.jpg" alt="Katytarika Bartel">
        <img class="hori" src="images/rose.jpg" alt="Ann Jiang">
      </div>
    </section>


    <section>
      <div>
        <img class="vert" src="images/cin.jpg" alt="Katytarika Bartel">
        <img class="vert" src="images/n.jpg" alt="Ann Jiang">
        <img class="vert" src="images/haez.jpg" alt="Ann Jiang">
      </div>
    </section>


    <section>
      <div>
        <img class="hori" src="images/luck.jpg" alt="Katytarika Bartel">
        <img class="hori" src="images/char.jpg" alt="Ann Jiang">
      </div>
    </section>


  </section><end container -->


</body>

</html>
